:root {
    /* font family for headings */
    --ff-heading: 'Playfair Display', serif;

    /* colors */
    --clr-background: #FEF7EF;
    --clr-feature-bg: #FDF9F9;
    --clr-purple-bg: #FEF2FE;
    --clr-orange-bg: #F56823;
    --clr-yellow-bg: #E0A12C;
    --clr-green-bg: #1FAFA4;
    --clr-green-button: #1BD0C3;
    --clr-text: #4F4F4F;
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-purple: #936CDF;
    --clr-dark-purple: #7153AD;
    --clr-blue: #0060C4;
}


/********** General Styling **********/
body {
    background: var(--clr-background);
}

.container {
    max-width: 1330px;
    width: 100%;
    margin-inline: 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-background);
}

.main {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/********** Navigation Bar **********/
.navbar {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 4rem;
    position: relative;
}

/* navigation logo section */
.navbar__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar__logo i {
    color: var(--clr-purple);
}

.navbar__logo span {
    font-family: var(--ff-heading);
    font-weight: 700;
}

/* navigation links section */
.navbar__links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__links li a {
    text-decoration: none;
    color: var(--clr-black);
    font-weight: 500;
}

.navbar__links li a:hover {
    color: var(--clr-blue);
}

/* navigation SVG */
.navbar__svg-bg {
    position: absolute;
    right: 0;
    top: -20rem;
    z-index: 3;
}

.navbar__svg-bg svg {
    width: 25rem;
}

.navbar__svg-person {
    position: absolute;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    top: 5.8rem;
    right: 2rem;
    height: 25rem;
    z-index: 9;
}

.navbar__svg-media--player {
    position: absolute;
    height: 7rem;
    top: 14rem;
    right: 14rem;
    z-index: 7;
    border-radius: 5px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}


/********** Title Section **********/
.title {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 2rem;
    margin-bottom: 10rem;
    position: relative;
}

/* title heading and description */
.title__details h3 {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.title__details h1 {
    font-family: var(--ff-heading);
    font-size: 3rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.title__details span {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
    font-weight: 900;
}

.title__details p {
    line-height: 1.5rem;
    color: var(--clr-text);
}

/* title button and links */
.title__button {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title__button button {
    background: var(--clr-purple);
    border: 1px solid var(--clr-purple);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
    border-radius: 5px;
    color: var(--clr-white);
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}

.title__button button:hover {
    cursor: pointer;
    background: var(--clr-dark-purple);
    transition: background 0.3s ease-in-out;
}

.title__link {
    display: flex;
    align-items: center;
    cursor: pointer;                               
}                   /*get both icon and text to change color */

.title__link i {
    font-size: 1.5rem;
    color: var(--clr-purple);
}

.title__link span {
    margin-left: 0.5rem;
}

.title__link:hover {
    color: var(--clr-blue);
    transition: color 0.3s ease-in-out;
}

.title__link i:hover {
    color: inherit;
    transition: color 0.1s ease-in-out;
}

/* title bubble subscribers */
.title__bubble {
    display: flex;
    align-items: center;
}

.title__bubble-users {
    position: relative;
}

.title__bubble-person {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid var(--clr-white);
    margin-right: 5.5rem;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.title__bubble-detail {
    display: flex;
    flex-direction: column;
}

.title__bubble-detail h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title__bubble-detail span {
    font-size: 0.8rem;
    color: var(--clr-text);
}

.person__two {
    position: absolute;
    left: 2rem;
}

.person_three {
    position: absolute;
    left: 4rem;
    top: 0;
}

/* title SVG */
.title__svg-bg {
    position: absolute;
    right: -30rem;
    bottom: -30rem;
    z-index: 3;
}

.title__svg-bg svg {
    width: 25rem;
}

.title__svg-person {
    position: absolute;
    bottom: -10rem;
    right: -26rem;
    z-index: 9;
}

.title__svg-sound--wave {
    position: absolute;
    left: 48rem;
    bottom: -7rem;
    width: 90%;
    z-index: 9;
    opacity: 0.5;
}


/********** Creator Section **********/
.creator__container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background: var(--clr-purple-bg);
    width: 100%;
}

.creator {
    max-width: 1330px;
    width: 100%;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 12rem 0;
    position: relative;
}

/* creator heading */
.creator__heading {
    text-align: center;
    width: 50%;
}

.creator__heading h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.creator__heading span {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
}

.creator__heading p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--clr-text);
}

.creator__heading button {
    background: var(--clr-purple);
    border: 1px solid var(--clr-purple);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
    border-radius: 5px;
    color: var(--clr-white);
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
}

.creator__heading button:hover {
    cursor: pointer;
    background: var(--clr-dark-purple);
    transition: background 0.3s ease-in-out;
}

/* creator people display */
.creator__person {
    border: 1px solid var(--clr-black);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
    border-radius: 20px;
    width: 30%;
    display: flex;
    justify-content: right;
    padding: 1.5rem 1rem 2rem 0;
}

.creator__person-detail {
    width: 57%;
    position: relative;
    z-index: 9;
}

.creator__person-detail h3 {
    font-family: var(--ff-heading);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.creator__person-detail p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
}

.creator__person-detail button {
    padding: 0.5rem 1rem;
    background: var(--clr-black);
    color: var(--clr-white);
    border: 1px solid var(--clr-black);
    border-radius: 5px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.creator__person-detail button:hover {
    cursor: pointer;
    border: 1px solid var(--clr-white);
    /* color: var(--clr-black); */
    transition: border 0.3s ease-in-out;
}

.creator__person-detail button i {
    margin-right: 0.5rem;
}

.orange__bg {
    background: var(--clr-orange-bg);
    position: absolute;
    bottom: -7rem;
    left: 0;
}

.creator__orange-img {
    position: absolute;
    height: 15rem;
    bottom: -2rem;
    left: -9.5rem;
    z-index: 1;
}

.yellow__bg {
    background: var(--clr-yellow-bg);
    position: absolute;
    bottom: -7rem;
}

.creator__yellow-img {
    position: absolute;
    height: 15rem;
    width: 10rem;
    bottom: -2rem;
    left: -10rem;
    z-index: 1;
}

.green__bg {
    background: var(--clr-green-bg);
    position: absolute;
    bottom: -7rem;
    right: 0;
}


/********** Feature Section **********/
.feature {
    margin: 15rem 0 8rem 0;
    padding-left: 2rem;
    display: flex;
    gap: 20rem;
}

/* feature description */
.feature__list {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.feature__list h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.feature__list h2 span {
    color: var(--clr-purple);
}

.feature__list p {
    color: var(--clr-text);
    margin-bottom: 2rem;
}

/* feature list */
.feature__list ul {
    margin-bottom: 1rem;
}

.feature__list ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.feature__list ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
    background: var(--clr-green-button);
}

.feature__list button {
    width: 10rem;
    background: var(--clr-purple);
    border: 1px solid var(--clr-purple);
    color: var(--clr-white);
    padding: 0.75rem 0;
    border-radius: 10px;
    font-weight: 600;
}

.feature__list button:hover {
    cursor: pointer;
    background: var(--clr-dark-purple);
    border: 1px solid var(--clr-dark-purple);
    transition: background 0.3s ease-in-out;
}

/* feature images and svg */
.feature__img {
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
    display: flex;
    height: fit-content;
    align-self: center;
    background: var(--clr-purple);
    border-radius: 10%;
    padding: 1rem 0 0 1rem;
    position: relative;
    z-index: 5;
}

.feature__person {
    z-index: 5;
}

.feature__sound-wave {
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 0.3;
}

.feature__media-ui {
    position: absolute;
    height: 15rem;
    z-index: 6;
    left: 25rem;
    top: -5rem;
    border-radius: 10px;
}

.feature__media-visual {
    position: absolute;
    z-index: 6;
    bottom: -5rem;
    right: -2rem;
    border-radius: 10px;
}


/********** Platform Features **********/
.platform__container {
    width: 100%;
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platform {
    max-width: 1330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
    position: relative;
}

/* platform title */
.platform__title {
    text-align: center;
    width: 50%;
    margin-bottom: 4rem;
}

.platform__title h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.platform__title span {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
}

.platform__title p {
    color: var(--clr-text);
    line-height: 1.5rem;
}

/* platform features */
.platform__features {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.platform__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 20%;
}

.platform__feature h3 {
    font-family: var(--ff-heading);
    font-size: 1.2rem;
}

.platform__feature p {
    color: var(--clr-text);
    line-height: 1.5rem;
}

.platform__icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.green__icon {
    background: rgb(27, 208, 195, 0.2);
    color: var(--clr-green-button);
}

.orange__icon {
    background: rgb(245, 104, 35, 0.2);
    color: var(--clr-orange-bg);
}

.yellow__icon {
    background: rgb(224, 161, 44, 0.2);
    color: var(--clr-yellow-bg);
}

.purple__icon {
    background: rgb(147, 108, 223, 0.2);
    color: var(--clr-purple);
}

/* platform image */
.platform img {
    position: absolute;
    left: -22rem;
    top: -5rem;
    transform: rotate(25deg);
}


/********** Categories Section **********/
.categories {
    margin: 6rem 0 8rem 0;
}

/* category description */
.category__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.category__detail-description {
    width: 35%;
}

.category__detail-description h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

.category__detail-description h2 span {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
}

.category__detail-description p {
    color: var(--clr-text);
    line-height: 1.5rem;
}

/* category buttons */
.category__detail-buttons ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3rem;
}

.button__not-active {
    border: 1px solid black;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    background: none;
    color: var(--clr-text);
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.button__not-active:hover {
    cursor: pointer;
    border: 1px solid var(--clr-purple);
    background: var(--clr-purple);
    color: var(--clr-white);
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.button__active {
    border: 1px solid var(--clr-purple);
    background: var(--clr-purple);
    color: var(--clr-white);
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
    cursor: pointer;
}

/* different categories images */
.category__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 1.5rem;
}

.category__img {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    background: var(--clr-white);
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.category__img img {
    border-radius: 10px;
    width: 40%;
}

.category__img img:hover {
    cursor: pointer;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.category__img-detail {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.category__img-detail h4 {
    font-family: var(--ff-heading);
}

.category__img-detail h4:hover {
    cursor: pointer;
    color: var(--clr-dark-purple);
}

.category__img-detail span {
    font-size: 0.8rem;
    color: var(--clr-text);
}

.category__img-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.category__img-link i {
    color: var(--clr-purple);
}

.category__img-link i:hover {
    color: var(--clr-dark-purple);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.category__img-link span:hover {
    cursor: pointer;
    color: var(--clr-dark-purple);
}


/********** Modal Section **********/
.modal {
    background: var(--clr-yellow-bg);
    border: 1px solid var(--clr-black);
    border-radius: 10px;
    padding: 2rem 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8rem;
    position: relative;
}

/* modal description */
.modal__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.modal__container h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.modal__container p {
    color: var(--clr-text);
}

.modal__container button {
    background: var(--clr-black);
    border: 1px solid var(--clr-black);
    border-radius: 10px;
    color: var(--clr-white);
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.modal__container button i {
    transform: rotate(-45deg);
}

.modal__container button:hover {
    border: 1px solid var(--clr-white);
    cursor: pointer;
}

.modal__container button i:hover {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

/* modal images */
.modal__sound-wave {
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    height: 13rem;
    filter: contrast(100);
    filter: brightness(100);
    opacity: 0.3;
}

.modal__person-img {
    position: absolute;
    bottom: 0;
    right: 10rem;
}


/********** Price Section **********/
.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* price title */
.prices h2 {
    font-family: var(--ff-heading);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    width: 50%;
    text-align: center;
    line-height: 3.5rem;
}

.prices h2 span {
    font-family: var(--ff-heading);
    color: var(--clr-purple);
}

/* price buttons */
.prices__buttons {
    display: flex;
    background: var(--clr-white);
    border-radius: 5px;
    margin-bottom: 8rem;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.44);
}

.prices__btn-active {
    padding: 0.8rem 1.5rem;
    background: var(--clr-purple);
    color: var(--clr-white);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.prices__btn-not--active {
    padding: 0.8rem 1.5rem;
    background: none;
    color: var(--clr-purple);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.prices__btn-not--active:hover {
    background: var(--clr-purple);
    color: var(--clr-white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}